{% extends "layout.html" %}
{% comment %} ------------------------------------------- {% endcomment %}
{% block title %}
Ping-Post
{% endblock %}
{% comment %} ------------------------------------------- {% endcomment %}
{% block content %}
<div class="tweet-grid">
   {% for tweet in tweets %}
   <div class="card pp-card tweet-card">
      {% if tweet.photo %}
      <img src="{{ tweet.photo.url }}" class="card-img-top" alt="tweet-pic" />
      {% else %}
      <div class="card-img-top text-center p-4 pp-muted">No image</div>
      {% endif %}

      <div class="card-body">
         <h5 class="card-title">Ping by {{tweet.user.username}}</h5>
         <p class="card-text">{{tweet.text}}
         </p>
         {% if tweet.user == user %}
         <div class="justify-content-end d-flex gap-2">
            <a href="{% url 'tweet_edit' tweet.id %}" class="btn btn-sm btn-outline-primary">
               <i class="bi bi-pencil"></i>
            </a>
            <a href="{% url 'tweet_delete' tweet.id %}" class="btn btn-sm btn-outline-danger">
               <i class="bi bi-trash"></i>
            </a>
         </div>
         {% endif %}
      </div>
   </div>
   {% endfor %}
</div>
{% endblock %}
