{% extends 'layout.html' %}

{% block title %}Welcome to PingPost{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1 class="display-4 mb-4">Welcome to PingPost</h1>
            <p class="lead mb-4">Share your thoughts in 250 characters or less</p>
            <a href="/tweet/" class="btn btn-accent btn-lg rounded-pill px-4">Get Started</a>
        </div>
    </div>
</div>
{% endblock %}
